In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

In [2]:
df = pd.read_csv("../DAT/data.csv")

In [19]:
cols_with_rta1 = [col for col in df.columns if 'rta1' in col]

In [23]:
for i in cols_with_rta1[1:]:
    model = ols(f"rta1_tat ~ {i}", df).fit()
    print(anova_lm(model))
    print("")

                   df        sum_sq       mean_sq          F        PR(>F)
rta1_cell_no      1.0  2.919386e+10  2.919386e+10  63.442217  1.696363e-15
Residual      38593.0  1.775913e+13  4.601645e+08        NaN           NaN

                   df        sum_sq       mean_sq          F        PR(>F)
rta1_box_col      7.0  1.371097e+11  1.958710e+10  42.819003  1.207605e-60
Residual      38587.0  1.765121e+13  4.574394e+08        NaN           NaN

                   df        sum_sq       mean_sq          F  PR(>F)
rta1_box_row     64.0  1.441623e+12  2.252536e+10  53.093423     0.0
Residual      38530.0  1.634670e+13  4.242590e+08        NaN     NaN

                   df        sum_sq       mean_sq           F  PR(>F)
rta1_box_dan     10.0  9.013010e+11  9.013010e+10  205.932087     0.0
Residual      38584.0  1.688702e+13  4.376690e+08         NaN     NaN

In [24]:
cols_with_rta2 = [col for col in df.columns if 'rta1' in col]

In [25]:
for i in cols_with_rta2[1:]:
    model = ols(f"rta2_tat ~ {i}", df).fit()
    print(anova_lm(model))
    print("")

                   df        sum_sq       mean_sq          F        PR(>F)
rta1_cell_no      1.0  6.125555e+10  6.125555e+10  36.917294  1.243989e-09
Residual      38593.0  6.403599e+13  1.659264e+09        NaN           NaN

                   df        sum_sq       mean_sq          F        PR(>F)
rta1_box_col      7.0  4.112529e+11  5.875042e+10  35.596562  6.095945e-50
Residual      38587.0  6.368599e+13  1.650452e+09        NaN           NaN

                   df        sum_sq       mean_sq          F  PR(>F)
rta1_box_row     64.0  5.397474e+12  8.433554e+10  55.357087     0.0
Residual      38530.0  5.869977e+13  1.523482e+09        NaN     NaN

                   df        sum_sq       mean_sq           F  PR(>F)
rta1_box_dan     10.0  3.398082e+12  3.398082e+11  216.002343     0.0
Residual      38584.0  6.069916e+13  1.573169e+09         NaN     NaN

In [26]:
cols_with_hta1 = [col for col in df.columns if 'hta1' in col]

In [27]:
for i in cols_with_hta1[1:]:
    model = ols(f"hta1_tat ~ {i}", df).fit()
    print(anova_lm(model))
    print("")

                   df        sum_sq       mean_sq            F  PR(>F)
hta1_box_col      2.0  2.041282e+10  1.020641e+10  4286.640187     0.0
Residual      38592.0  9.188684e+10  2.380982e+06          NaN     NaN

                   df        sum_sq       mean_sq           F  PR(>F)
hta1_box_row     54.0  2.477222e+10  4.587448e+08  201.994046     0.0
Residual      38540.0  8.752745e+10  2.271081e+06         NaN     NaN

                   df        sum_sq       mean_sq          F         PR(>F)
hta1_box_dan      9.0  2.625687e+09  2.917430e+08  102.63971  9.996776e-191
Residual      38585.0  1.096740e+11  2.842399e+06        NaN            NaN

In [29]:
cols_with_sa1 = [col for col in df.columns if 'sa1' in col]

for i in cols_with_sa1[1:]:
    model = ols(f"sa1_tat ~ {i}", df).fit()
    print(anova_lm(model))
    print("")

                  df        sum_sq       mean_sq          F         PR(>F)
sa1_box_col     15.0  2.210772e+10  1.473848e+09  72.773159  5.008974e-220
Residual     38579.0  7.813264e+11  2.025263e+07        NaN            NaN

                  df        sum_sq       mean_sq          F  PR(>F)
sa1_box_row     64.0  5.279967e+10  8.249948e+08  42.346909     0.0
Residual     38530.0  7.506345e+11  1.948182e+07        NaN     NaN

                  df        sum_sq       mean_sq          F        PR(>F)
sa1_box_dan     12.0  8.629933e+09  7.191611e+08  34.910072  1.087576e-81
Residual     38582.0  7.948042e+11  2.060039e+07        NaN           NaN

In [31]:
cols_with_sa2 = [col for col in df.columns if 'sa2' in col]

for i in cols_with_sa2[1:]:
    model = ols(f"sa2_tat ~ {i}", df).fit()
    print(anova_lm(model))
    print("")

                  df        sum_sq       mean_sq          F        PR(>F)
sa2_box_col     15.0  3.557575e+10  2.371716e+09  22.600467  8.267526e-63
Residual     38579.0  4.048520e+12  1.049410e+08        NaN           NaN

                  df        sum_sq       mean_sq          F  PR(>F)
sa2_box_row     64.0  2.295645e+11  3.586945e+09  35.855196     0.0
Residual     38530.0  3.854532e+12  1.000398e+08        NaN     NaN

                  df        sum_sq       mean_sq          F        PR(>F)
sa2_box_dan     12.0  4.757583e+10  3.964652e+09  37.895069  3.316437e-89
Residual     38582.0  4.036520e+12  1.046219e+08        NaN           NaN

In [32]:
cols_with_sa3 = [col for col in df.columns if 'sa3' in col]

for i in cols_with_sa3[1:]:
    model = ols(f"sa3_tat ~ {i}", df).fit()
    print(anova_lm(model))
    print("")

                  df        sum_sq       mean_sq          F         PR(>F)
sa3_box_col     15.0  3.237342e+10  2.158228e+09  97.982044  1.100949e-298
Residual     38555.0  8.492422e+11  2.202677e+07        NaN            NaN

                  df        sum_sq       mean_sq          F  PR(>F)
sa3_box_row     64.0  4.158467e+10  6.497605e+08  29.784234     0.0
Residual     38506.0  8.400309e+11  2.181558e+07        NaN     NaN

                  df        sum_sq       mean_sq           F         PR(>F)
sa3_box_dan     12.0  2.860512e+10  2.383760e+09  107.751355  5.444808e-265
Residual     38558.0  8.530105e+11  2.212279e+07         NaN            NaN

In [3]:
df[["c1_box_col", "c1_box_dan", "c1_temp_avg"]]

      c1_box_col c1_box_dan  c1_temp_avg
0            06열        09단          291
1            06열        09단          291
2            06열        09단          291
3            06열        09단          291
4            06열        09단          291
...          ...        ...          ...
38590        02열        05단          255
38591        02열        05단          255
38592        02열        05단          255
38593        02열        05단          255
38594        02열        05단          255

[38595 rows x 3 columns]

In [6]:
df.groupby(["c1_box_col", "c1_box_dan"], as_index=False)["c1_temp_avg"].mean().to_csv("../OUT/열연단온도불량률.csv", index=False)

In [7]:
df[["c1_box_col", "c1_box_dan", "c1_temp_avg"]].to_csv("../OUT/열연단온도불량률1.csv", index=False)